


@media all and (min-width:1900px) and (max-width:1920px){
    .nav-link.home #menu-div{
      /* border: 2px solid green; */
    }

      
  #menu-div>div{
      border: 3px solid #ec7009;
      border-radius: 50%;
      height: 5rem;
      width: 5rem;
      margin-top: 30px;
      /* margin-left: 1.5vw; */
      padding: auto;
      margin: 1rem;
      background-color: #FFE6C7;
      
  }

    #menu-div>div img{
      width: 2.5rem;
      height: 2.5rem;
      margin-left: 5px;
      margin-top: 5px;

  }


   .nav-link.home #home-span{
    left: 1.8vw;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: -1vh;
  
  }

     .nav-link.home #about-span{
    left: 1.8vw;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: -1vh;
  
  }

     .nav-link.home #skill-span{
    left: 1.8vw;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: -1vh;
  
  }

     .nav-link.home #projects-span{
    left: 1.8vw;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: -1vh;
  
  }

     .nav-link.home #contacts-span{
    left: 1.8vw;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: -1vh;

  }


     .nav-link.home #resume-span{
    left: 1.8vw;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: -1vh;
  
  }
    
/*  */
.skills-sec{

   top:120vh
}

#skills{
  top:174vh
}
.stat{
  top:225vh;
}

.project{
  top:265vh
}

.react-activity-calendar{

   top:325vh
}

#contact{
  top:405vh
}
 

}







@media all and (min-width:1280px) and (max-width:1365px){
    .nav-link.home #menu-div{
      /* border: 2px solid green; */
    }

    .profileWrapper{
        height: 20vh;

    }
    .profile-picture{
      width: 15vw;
      height: 15vw;
    }

    .profile-name{

       top:22vh;
       left: -1.5vw;
    }

    .fstack{
      top: 25vh;
      left: -1.5vw;

    }

    .social{

      top: 29vh;
      left: 0.5vw;
      width: 17vw;
    }

    .age-info{

      top: 34vh;
      left: 0.5vw;
      width: 17vw;
    }

    .git-hub-repo{

      top: 50vh;
      left: 0.5vw;
      width: 17vw;
    }

    .certs-list{
      top: 65vh;
      left: 0.5vw;
      width: 17vw;
    }
      
  #menu-div>div{
      border: 3px solid #ec7009;
      border-radius: 50%;
      height: 3rem;
      width: 3rem;
      margin-top: 30px;
      /* margin-left: 1.5vw; */
      padding: auto;
      margin: 1rem;
      background-color: #FFE6C7;
      
  }

    #menu-div>div img{
      width: 1.5rem;
      height: 1.5rem;
      margin-left: 0px;
      margin-top: 0px;

  }


   .nav-link.home #home-span{
    left: 1.8vw;
    font-size: 12px;
    text-align: center;
    position: relative;
    top: -1vh;
  
  }

     .nav-link.home #about-span{
    left: 1.8vw;
    font-size: 12px;
    text-align: center;
    position: relative;
    top: -1vh;
  
  }

     .nav-link.home #skill-span{
    left: 1.5vw;
    font-size: 12px;
    text-align: center;
    position: relative;
    top: -1vh;
  
  }

     .nav-link.home #projects-span{
    left: 1.2vw;
    font-size: 12px;
    text-align: center;
    position: relative;
    top: -1vh;
  
  }

     .nav-link.home #contacts-span{
    left: 1.2vw;
    font-size: 12px;
    text-align: center;
    position: relative;
    top: -1vh;

  }


     .nav-link.home #resume-span{
    left: 1.2vw;
    font-size: 12px;
    text-align: center;
    position: relative;
    top: -1vh;
  
  }

  .skills-sec{
    top: 110vh;
  }


  #skills{
    top: 165vh;
  }

  .stat{

     top: 215vh;
  }

  .project{
    top: 260vh;
  }

  .react-activity-calendar{
    top: 325vh;
  }

  #contact{
    top: 400vh;
  }

    
}