@media screen and (max-width: 992px) {


}


@media screen and (max-width: 768px) {

.profile-name{
    background-color: green;
    top: 2vh;
    height: 3vh;
 }

}


@media screen and (max-width: 1080px) {
    #menu-div>div{
       margin: 5rem;
    }
}